* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: mintcream;
}

html {
    background-image: linear-gradient(to bottom right, #ED213A, #93291E);
    padding: 25px;
}

h1 {
    font-size: 4rem;
}
h3 {
    padding-top: 15px;
}

input {
    width: calc(100% - 25px);
    outline: none;
    border-radius: 10px;
    font-size: 1.25rem;
    border: solid 3px #fff;
    background: none;
    margin: 20px 0;
    padding: 10px 15px;
    color: #fff;
}
    input::placeholder {
        color: #fff;
    }

.card-grid {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
}

.card {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.card img {
    max-height: 200px;
}

hr {
    height: 2px;
    background: #fff;
    border: solid 1px #fff;
    border-radius: 5px;
}